
<html>

<body>
   
    <div id="abc">

        <fieldset class="fieldset" style="background:#1d839a;height:170px;">
            <br>
            <div class="foot">

                <ul>
                    @Html.ActionLink("Site Map", "SiteMap", "Admin")
                </ul>



                <ul>
                    @Html.ActionLink("About Us", "View_AboutUs", "AboutUs")
                </ul>


                <ul>
                    @Html.ActionLink("Contact Us", "SendMail", "Contact")
                </ul>




            </div>

            <div class="foot">


                <ul>
                    @Html.ActionLink("Notice", "View_Notice", "Notice")
                </ul>
                <ul>
                    @Html.ActionLink("My Account", "MyAccount", "Account")
                </ul>
                <ul>
                    @Html.ActionLink("New products", "New_Products", "Home")
                </ul>
            </div>
            <div class="foot">


                <ul>
                    @Html.ActionLink("My Wishlist", "ViewWishList", "Wishlist")
                </ul>
                <ul>
                    @Html.ActionLink("My Orders", "OrderView_User", "StoreManager")
                </ul>
                <ul>
                    @Html.ActionLink("Shopping Cart", "ViewCart", "Cart")
                </ul>
            </div>
            <div class="foot">

                <ul>
                    <li style="list-style-type:none"><a href="http://www.google.com">Google</a></li>
                </ul>
                <ul>
                    <li style="list-style-type:none"><a href="http://www.facebook.com">Facebook</a></li>
                </ul>
                <ul>
                    <li style="list-style-type:none"><a href="http://www.twitter.com">Twitter</a></li>
                </ul>
            </div>

        </fieldset>


    </div>
</body>

</html>


