@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
@model E_Health.Models.FA.FirstAid

    @{
        ViewBag.Title = "Add first aids";
    }
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <style type="text/css">
        #div {
            margin-top: 3%;
            width: 80%;
            float: right;
        }

        #mbody {
            background: #0C697A;
            background-size: 100% 100%;
        }

        #field {
            border: 1px solid white;
            border-radius: 3px;
            padding: 3%;
            padding-bottom: 0;
            background: url('/img/p.jpg')no-repeat;
            background-size: 100% 100%;
        }

        #left {
            width: 20%;
            padding: 2%;
            background: #1f1e1e;
            float: left;
            position: absolute;
            left: 0;
            margin-top: 0%;
            height: 100%;
            border-right: 1px solid black;
        }
    </style>

    <body id="mbody">
        @{Html.RenderPartial("SideView", "FirstAid");}
        @using (Html.BeginForm("AddService", "FirstAid", FormMethod.Post))
        {

            @Html.AntiForgeryToken()
            <div id="div">
                <h4 style="color: white; font-family: Cambria">Add first aids for various diseases and accidents</h4>
                <fieldset class="fieldset" id="field">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Title, new { @class = "login-text", placeholder = "Title", @Style = "float:left" })
                                @Html.ValidationMessageFor(model => model.Title)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Symptoms, new { @class = "login-text", placeholder = "Symptoms", @Style = "float:left" })
                                @Html.ValidationMessageFor(model => model.Symptoms)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <strong style="color:black;font-family:Candara">Details about the first aids </strong>
                                @Html.TextAreaFor(model => model.Treatment, new { @class = "ckeditor" })
                                @Html.ValidationMessageFor(model => model.Treatment)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Add this" style="width:200px" class="mybtn" />
                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>

        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </body>
