@model E_Health.Models.Patient.Problem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Problem</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProblemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
