@model IEnumerable<E_Health.Models.Patient.Problem>
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<script src="/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/ckeditor/adapters/jquery.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<style type="text/css">
    #div {
        margin-top: 3%;
        width: 80%;
        float: right;
    }

    #mbody {
        background: #0C697A;
        background-size: 100% 100%;
    }

    #field {
        border: 1px solid white;
        border-radius: 3px;
        padding: 3%;
        padding-bottom: 0;
        background: url('/images/w.jpg')no-repeat;
        background-size: 100% 100%;
    }

    #left {
        width: 20%;
        padding: 2%;
        background: #1f1e1e;
        float: left;
        position: fixed;
        left: 0;
        margin-top: 0%;
        height: 100%;
        border-right: 1px solid black;
    }

    #side-panel {
        margin-bottom: 8%;
        background: #0C697A;
        color: white;
        font-family: Candara;
    }
</style>

<body id="mbody">
    @{Html.RenderPartial("SideView", "Doctor");}
    @using (Html.BeginForm("Details", "Doctor", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        <div id="div">
            <table class="table" style="border:1px solid white;width:100%;background:white">
                <tr>
                    <th>
                        @Html.DisplayName("User Id")
                    </th>

                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th> </th>
                    <th> </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.UserId
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Email
                        </td>

                        <td>
                            @Html.ActionLink("Details", "Details", "Doctor", new { id = item.ProblemId }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete_Post", new { id = item.ProblemId },
            new { onclick = "return confirm('Are you sure to delete this item ?');" })
                        </td>
                    </tr>
                }
            </table>

        </div>


    }

